.App {
  text-align: center;
}

#root table {
  width: 1000px;
  margin: 73px auto;
}

 #root table td {
  text-align: left;
  text-indent: 50px;
}

.line-chart {
  margin: 0 auto;
  width: 1000px;
}
